h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
}

h1 {
    text-align: center;
}

body {
    background-color: rgb(225, 225, 225);
    
}

img {
    padding: 10px
    
}

fieldset
{
  padding:10px;
  display:inline-block;
  background-color:rgb(227, 225, 225);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
